body {
  background-color: rgb(41, 51, 48);
  color: white;
  align-content: center;
  margin: 0 auto;
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
}

.profilePics {
  width: 200px;
}

.audio-player {
  width: 200px;
}

.mainHead {
  padding: 40px 0;
  text-align: center;
  background-color: rgb(12, 37, 29);
}

.LeftSectionText {
  width: 70%;
}

.RightSectionText {
  width: 65%;
  margin-left: 35%;
}

.mainContent {
  width: 90%;
  margin: auto;
}

.mainHead > p {
  color: rgb(87, 99, 68);
}

h1 {
  font-size: 2rem;
  font-family: "Sacramento", cursive;
  margin: 0 auto;
  color: rgb(218, 240, 160);
}

h3 {
  margin-top: 25px;
  color: rgb(218, 240, 160);
  font-family: "Montserrat", sans-serif;
}

h3:hover {
  color: rgb(87, 99, 68);
}

hr {
  border-color: rgb(101, 141, 128);
  border-style: dotted none none;
  border-width: 10px;
  width: 10%;
  clear: both;
  margin-top: 20px;
}

th {
  text-align: left;
  color: lightseagreen;
}

.form-box {
  border: 5px solid rgb(218, 240, 160);
}

label {
  display: inline-block;
  width: 20%;
}

footer {
  padding: 10px 0;
  background-color: white;
}

p {
  line-height: 1.5;
}

li {
  margin: 10px auto;
  line-height: 1.5;
}

footer img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.copyright {
  color: black;
  text-align: center;
}

.footer-images {
  text-align: center;
}

.education {
  width: 150px;
  float: right;
  margin-left: 30px;
}

.coding {
  width: 150px;
  float: left;
  margin-right: 30px;
}

.hobbies {
  width: 150px;
  float: right;
  margin-left: 30px;
}

.certified {
  width: 150px;
  float: left;
  margin-right: 30px;
}

table {
  clear: both;
  padding-top: 30px;
  margin: 0 auto;
  width: 90%;
}
