body {
  background-color: rgb(41, 51, 48);
  color: white;
  margin: 0;
  font-family: "Merriweather", serif;
}

.mainHead {
  text-align: center;
}

h1 {
  font-family: "Sacramento", cursive;
  margin: 0 auto;
  color: rgb(218, 240, 160);
}

.mainHead > p {
  color: rgb(87, 99, 68);
}

h3 {
  margin-top: 25px;
  color: rgb(218, 240, 160);
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

h3:hover {
  color: rgb(87, 99, 68);
}

hr {
  border-color: rgb(101, 141, 128);
  border-style: dotted none none;
  clear: both;
  margin-top: 20px;
}

th {
  text-align: left;
  color: lightseagreen;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.footer-images {
  text-align: center;
}

.copyright {
  color: black;
  text-align: center;
}

table {
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 599px) {
  body {
    font-size: 0.9rem;
  }

  .mainHead {
    padding: 5%;
    background-color: rgb(12, 37, 29);
  }

  .profilePics {
    width: 300px;
  }

  .audio-player {
    width: 250px;
  }

  .hearName {
    text-align: center;
  }

  h1 {
    font-size: 2.7rem;
  }

  .education,
  .coding,
  .hobbies,
  .certified {
    width: 150px;
  }

  .education,
  .hobbies {
    float: right;
    margin-left: 30px;
  }

  .coding,
  .certified {
    float: left;
    margin-right: 30px;
  }

  .mainContent {
    padding: 0 5%;
  }

  .LeftSectionText {
    width: 70%;
  }
  .RightSectionText {
    width: 65%;
    margin-left: 35%;
  }

  hr {
    border-width: 10px;
    width: 20%;
  }

  .form-box {
    border: 5px solid rgb(218, 240, 160);
  }

  label {
    display: inline-block;
    width: 20%;
  }

  p {
    text-align: left;
    line-height: 1.5;
  }

  li {
    margin: 10px auto;
    line-height: 1.5;
    text-align: left;
  }

  footer {
    padding-left: 5%;
    padding-right: 5%;
  }

  footer img {
    width: 40px;
    height: 40px;
  }

  .copyright {
    font-size: 0.7rem;
  }

  table {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 999px) {
  body {
    font-size: 1rem;
  }

  .mainHead {
    padding: 20px 10%;
    background-color: rgb(12, 37, 29);
  }

  .profilePics {
    width: 350px;
  }

  .audio-player {
    width: 250px;
  }

  .hearName {
    text-align: center;
  }

  h1 {
    font-size: 3.5rem;
  }

  .education,
  .coding,
  .hobbies,
  .certified {
    width: 150px;
  }

  .education,
  .hobbies {
    float: right;
    margin-left: 30px;
  }

  .coding,
  .certified {
    float: left;
    margin-right: 30px;
  }

  .mainContent {
    padding: 0 10%;
  }

  .LeftSectionText {
    width: 70%;
  }
  .RightSectionText {
    width: 65%;
    margin-left: 35%;
  }

  hr {
    border-width: 10px;
    width: 20%;
  }

  .form-box {
    border: 5px solid rgb(218, 240, 160);
  }

  label {
    display: inline-block;
    width: 20%;
  }

  p {
    text-align: left;
    line-height: 1.5;
  }

  li {
    margin: 10px auto;
    line-height: 1.5;
    text-align: left;
  }

  footer {
    padding-left: 10%;
    padding-right: 10%;
  }

  footer img {
    width: 40px;
    height: 40px;
  }

  .copyright {
    font-size: 0.8rem;
  }

  table {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1rem;
  }

  .mainHead {
    padding: 20px 20%;
    background-color: rgb(12, 37, 29);
  }

  .profilePics {
    width: 350px;
  }

  .audio-player {
    width: 250px;
  }

  .hearName {
    text-align: center;
  }

  h1 {
    font-size: 3.9rem;
  }

  .education,
  .coding,
  .hobbies,
  .certified {
    width: 150px;
  }

  .education,
  .hobbies {
    float: right;
    margin-left: 30px;
  }

  .coding,
  .certified {
    float: left;
    margin-right: 30px;
  }

  .mainContent {
    padding: 0 20%;
  }

  .LeftSectionText {
    width: 70%;
  }
  .RightSectionText {
    width: 65%;
    margin-left: 35%;
  }

  hr {
    border-width: 10px;
    width: 20%;
  }

  .form-box {
    border: 5px solid rgb(218, 240, 160);
  }

  label {
    display: inline-block;
    width: 20%;
  }

  p {
    text-align: left;
    line-height: 1.5;
  }

  li {
    margin: 10px auto;
    line-height: 1.5;
    text-align: left;
  }

  footer {
    padding-left: 20%;
    padding-right: 20%;
  }

  footer img {
    width: 40px;
    height: 40px;
  }

  .copyright {
    font-size: 0.8rem;
  }

  table {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 2560px) {
    body {
      font-size: 1rem;
    }
  
    .mainHead {
      padding: 30px 30%;
      background-color: rgb(12, 37, 29);
    }
  
    .profilePics {
      width: 350px;
    }
  
    .audio-player {
      width: 300px;
    }
  
    .hearName {
      text-align: center;
    }
  
    h1 {
      font-size: 4rem;
    }
  
    .education,
    .coding,
    .hobbies,
    .certified {
      width: 200px;
    }
  
    .education,
    .hobbies {
      float: right;
      margin-left: 30px;
    }
  
    .coding,
    .certified {
      float: left;
      margin-right: 30px;
    }
  
    .mainContent {
      padding: 0 30%;
    }
  
    .LeftSectionText {
      width: 70%;
    }
    .RightSectionText {
      width: 65%;
      margin-left: 35%;
    }
  
    hr {
      border-width: 10px;
      width: 20%;
    }
  
    .form-box {
      border: 5px solid rgb(218, 240, 160);
    }
  
    label {
      display: inline-block;
      width: 20%;
    }
  
    p {
      text-align: left;
      line-height: 1.5;
    }
  
    li {
      margin: 10px auto;
      line-height: 1.5;
      text-align: left;
    }
  
    footer {
      padding-left: 30%;
      padding-right: 30%;
    }
  
    footer img {
      width: 40px;
      height: 40px;
    }
  
    .copyright {
      font-size: 0.8rem;
    }
  
    table {
      font-size: 1rem;
    }
  }

@media screen and (max-width: 599px) {
  body {
    font-size: 0.8rem;
  }

  .mainHead {
    padding: 5%;
    background-color: rgb(12, 82, 60);
  }

  .profilePics {
    width: 150px;
  }

  .audio-player {
    width: 200px;
  }

  .hearName {
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  .education,
  .coding,
  .hobbies,
  .certified {
    width: 100px;
    margin: auto;
  }

  .mainContent {
    padding: 0 5%;
    text-align: center;
  }

  .LeftSectionText,
  .RightSectionText {
    width: 100%;
  }

  .mainHead > p {
    color: rgb(107, 161, 7);
  }

  hr {
    border-width: 5px;
    width: 10%;
  }

  .form-box {
    border: 5px solid rgb(218, 240, 160);
  }

  label {
    display: inline-block;
    width: 20%;
  }

  p {
    text-align: left;
    line-height: 1.5;
  }

  li {
    margin: 10px auto;
    line-height: 1.5;
    text-align: left;
  }

  footer {
    padding-left: 5%;
    padding-right: 5%;
  }

  footer img {
    width: 20px;
    height: 20px;
  }

  .copyright {
    font-size: 0.6rem;
  }

  .footer-images {
    text-align: center;
  }

  table {
    font-size: 0.5rem;
  }
}
