body {
  background-color: rgb(41, 51, 48);
  color: white;
  align-content: center;
  margin: auto;
  font-family: "Merriweather", serif;
}

.mainHead {
  padding: 50px;
  text-align: center;
  background-color: rgb(12, 37, 29);
}

.mainContent {
  width: 40%;
  margin: auto;
}

.mainHead > p {
  color: rgb(87, 99, 68);
}

h1 {
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  margin: 0 auto;
  color: rgb(218, 240, 160);
}

h3 {
  margin-top: 50px;
  color: rgb(218, 240, 160);
  font-family: "Montserrat", sans-serif;
}

h3:hover {
  color: rgb(87, 99, 68);
}

hr {
  display: none;
  border-color: rgb(101, 141, 128);
  border-style: dotted none none;
  border-width: 5px;
}

th {
  text-align: left;
  color: lightseagreen;
}

.form-box {
  border: 5px solid rgb(218, 240, 160);
}

label {
  display: inline-block;
  width: 20%;
}

footer {
  position: relative;
  padding: 23px auto;
  background-color: white;
}

.mainContent > p {
  line-height: 2;
}

li {
  margin: 20px auto;
}

footer img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.copyright {
  color: black;
  position: absolute;
  right: 10px;
}
